[flake8]

exclude =
    # Don't need to hit the git directory or the pycache.
    .git,
    __pycache__,
    # Docs and tests should be excluded.
    docs,
    tests,
    # Exclude JSON files.
    *.json
max-line-length=120
