.DS_Store
__pycache__/
*.egg-info/
.vscode/
.coverage*

# Ignore large testing files.
tests/test-reports/*
*/**/*.svg
tests/*.ipynb

# Python virtual environment files.
.venv
.docs_venv

# Ignore the build directory and the dist directory
# created by the build process.
/build
dist