.DS_Store
__pycache__/
*.egg-info/
.vscode/

# Ignore large testing files.
tests/test-resources/test-assignments/assignments.jsonl.gz
tests/test-resources/test-assignments/*.pstats
tests/test-resources/test-assignments/*.ac
*/**/*.png
