.DS_Store
__pycache__/
*.egg-info/
.vscode/
.coverage*
.hypothesis/
.pytest_cache/
.ruff_cache/

# Ignore large testing files.
tests/test-reports/*
*/**/*.svg
tests/*.ipynb

# Python virtual environment files.
.venv*
.docs_venv

user_guide/_build/
user_guide/_generated/
user_guide/jupyter_execute/


# Other dev stuff
.envrc
.env
dev_files

# Ignore the build directory and the dist directory
# created by the build process.
/build
dist
user_guide/build
user_guide/build/**
dev
plans/


# Readthedocs
_build


# Build artifacts
target/
*.so


/data
/stats
/user_guide/user/scoring/stats
