annotated-types
asttokens
attrs
black
CensusData
certifi
cfgv
charset-normalizer
click
click-plugins
cligj
comm
contourpy
cycler
debugpy
decorator
distlib
exceptiongroup
executing
filelock
fiona
fonttools
geopandas
gerrychain
gurobipy
identify
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
jellyfish
jsonlines
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
maup==1.1.0
mypy-extensions
nest-asyncio
networkx
nodeenv
numpy
opencv-python-headless
packaging
pandas
parso
pathspec
pexpect
pillow
platformdirs
pre-commit
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
pyproj
python-dateutil
pytz
PyYAML
pyzmq
requests
scipy
seaborn
shapely
six
sortedcontainers
stack-data
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
us
virtualenv
wcwidth
zipp
