alabaster>=0.7.16,<1.0
annotated-types>=0.6.0,<1.0
attrs>=23.2.0,<24.0
Babel>=2.14.0,<3.0
CensusData>=1.15.post1,<2.0
certifi>=2024.2.2,<2025.0
charset-normalizer>=3.3.2,<4.0
click>=8.1.7,<9.0
click-plugins>=1.1.1,<2.0
cligj>=0.7.2,<1.0
contourpy>=1.2.0,<2.0
cycler>=0.12.1,<1.0
docutils>=0.20.1,<1.0
fiona>=1.9.5,<2.0
fonttools>=4.49.0,<5.0
geopandas>=0.12.2,<1.0
gerrychain>=0.3.0,<1.0
gurobipy>=11.0.0,<12.0
idna>=3.6,<4.0
imageio>=2.34.0,<3.0
imagesize>=1.4.1,<2.0
jellyfish>=0.11.2,<1.0
Jinja2>=3.1.3,<4.0
jsonlines>=4.0.0,<5.0
kiwisolver>=1.4.5,<2.0
markdown-it-py>=3.0.0,<4.0
MarkupSafe>=2.1.5,<3.0
matplotlib>=3.8.3,<4.0
maup>=1.1.0,<2.0
mdit-py-plugins>=0.4.0,<1.0
mdurl>=0.1.2,<1.0
myst-parser>=2.0.0,<3.0
networkx>=3.2.1,<4.0
numpy>=1.26.4,<2.0
opencv-python-headless>=4.9.0.80,<5.0
packaging>=23.2,<24.0
pandas>=1.5.3,<2.0
pillow>=10.2.0,<11.0
pydantic>=2.6.1,<3.0
pydantic_core>=2.16.2,<3.0
Pygments>=2.17.2,<3.0
pyparsing>=3.1.1,<4.0
pyproj>=3.6.1,<4.0
python-dateutil>=2.8.2,<3.0
pytz>=2024.1,<2025.0
PyYAML>=6.0.1,<7.0
requests>=2.31.0,<3.0
scipy>=1.12.0,<2.0
seaborn>=0.13.2,<1.0
shapely>=2.0.3,<3.0
six>=1.16.0,<2.0
snowballstemmer>=2.2.0,<3.0
sortedcontainers>=2.4.0,<3.0
Sphinx>=7.2.6,<8.0
sphinx-copybutton>=0.5.2,<1.0
sphinx-rtd-theme>=2.0.0,<3.0
sphinxcontrib-applehelp>=1.0.8,<2.0
sphinxcontrib-devhelp>=1.0.6,<2.0
sphinxcontrib-htmlhelp>=2.0.5,<3.0
sphinxcontrib-jquery>=4.1,<5.0
sphinxcontrib-jsmath>=1.0.1,<2.0
sphinxcontrib-qthelp>=1.0.7,<2.0
sphinxcontrib-serializinghtml>=1.1.10,<2.0
tqdm>=4.66.2,<5.0
typing_extensions>=4.9.0,<5.0
urllib3>=2.2.1,<3.0
us>=3.1.1,<4.0
